@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    /* Colors */
    /* Primary */
    /* --Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); */
    --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    /* Neutral */
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 90%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--Light-Grayish-Blue);
}

footer {
    margin-top: auto;
    /* position: fixed;
    bottom: 0; */
}

@media (min-width: 1024px) {    
    html {
        font-size: 14px;
    }

    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3 {
        box-shadow: 0 25px 50px 0 rgba(0, 0, 0, .5);
        transform: translate3d(0, 0, 0);
    }

    #s3:checked~.cards #slide1,
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3 {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .3);
        transform: translate3d(101%, 5%, -225px) rotateY(20deg);
    }

    #s3:checked~.cards #slide2,
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide1 {
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, .3);
        transform: translate3d(-101%, 5%, -225px) rotateY(-20deg);
    }
}

@media (min-width: 1440px) {    
    html {
        font-size: 18px;
    }
}