---
import RadioBtns from './RadioBtns.astro';
import Card from './Card.astro';
---

<RadioBtns />

<section class="cards">
    <Card />
</section>

<style>
    .cards {
        display: grid;
    }

    @media (min-width: 1024px) {
        .cards {
            display: grid;
            width: 25rem;
            height: auto;
            margin: 0 auto;
            perspective: 1000px;
            transform-style: preserve-3d;
            position: relative;
        }
    }
    
</style>