---
import ToggleSwitch from "./ToggleSwitch.astro";
---

<header>
    <h1>Our Pricing</h1>
    
    <ToggleSwitch />
</header>

<style>
    header {
        display: grid;
        place-items: center;
	}

    h1 {
        text-align: center;
    }
</style>