---
import Card from './Card.astro';
---

<main>
    <Card />
</main>

<style>
    main {
        padding: 0 1.5rem;
        /* margin: 0 auto; */
        /* display: grid;
        place-items: center; */
    }
</style>