<div class="toggle-switch-container">
    <span class="text">Annually</span>
    <input type="checkbox" id="switch" class="checkbox">
    <label for="switch" class="toggle"></label>
    <span class="text">Monthly</span>
</div>

<style>
    .toggle-switch-container {
        display: flex;
        align-items: center;
    }

    .text {
        margin: 0 2rem;
        color: var(--Grayish-Blue);
        font-size: 1.1rem;
    }

    /* toggle in label designing */
    .toggle {
        position: relative;
        display: inline-block;
        width: 4rem;
        height: 2.3rem;
        /* background-color: var(--Linear-Gradient); */
        background-image: linear-gradient(to right, var(--Linear-Gradient));
        border-radius: 10rem;
    }

    /* After slide changes */
    .toggle:after {
        content: "";
        position: absolute;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        background-color: #eee;
        top: 0.3rem;
        left: 0.3rem;
        transition: all 0.3s ease-in-out;
    }

    /* Checkbox checked effect */
    .checkbox:checked + .toggle::after {
        left: 2rem;
    }

    /* Checkbox checked toggle label bg color */
    .checkbox:checked + .toggle {
        /* background-color: var(--Linear-Gradient); */
        background-image: linear-gradient(to right, var(--Linear-Gradient));
    }

    /* Checkbox vanished */
    .checkbox {
        display: none;
    }
</style>
